<div class="row row-content">
	<div class="col-lg-12 col-xs-12">
		<h1 class="title-section bold">
			Nueva cotización
		</h1>
	</div>
</div>
<br><br>
<div class="row">
	<div class="col-xs-12">
		<h3><b>Aún no tienes productos asociados a tu cotización</b></h3>
		<br>
		<%= link_to 'Agregar productos', business_units_path, class: 'btn btn-miele', id: 'add-products' %>
	</div>
</div>