<p>
	<%= @user.fullname %>, 
</p>
<p>
	Bienvenida/o a Miele Customers, Portal de Partners. A continuación te dejamos tus datos de acceso.
</p>
<p>
	Usuario: <%= @user.email %>
</p>
<p>
	Contraseña: <b><%= User.default_pass %></b>
</p>