<style type="text/css">
#global {
	height: 300px;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
}
#mensajes {
	height: auto;
}
.texto {
	padding:4px;
	background:#fff;
}
.bold {
	font-weight: bold;
}
.paragraph{
	text-align: justify;
	margin-left: 15px;
	margin-right: 15px;
}

.sub-title{
	text-align: center;
}

.enumerate-list{
	margin-left:200px;
}


</style>
<div id="global">
	<div id="mensajes">
		<br>
		<p class="bold"><u>TÉRMINOS Y CONDICIONES</u></p>
		<p class="paragraph bold">TÉRMINOS Y CONDICIONES: COMERCIO ELECTRÓNICO</p>
		<p class="paragraph bold">Los presentes términos y condiciones generales (en adelante, los “Términos y Condiciones”) regulan la venta en Chile de electrodomésticos pertenecientes a la línea doméstica de Miele Electrodomésticos Limitada mediante la plataforma web de MIELE.</p> 
		<p class="paragraph bold">Es por esto, que vienen, por una parte, Miele Electrodomésticos Limitada (en lo sucesivo, “MIELE”) y por la otra, la persona cuyo nombre, datos generales y firma queden registrados en la orden de compra de que se trate (en lo sucesivo, el “Cliente Final”), en conjunto denominados las “Partes”, las cuales, conforme a las siguientes declaraciones y cláusulas, firman el presente contrato (en lo sucesivo, el “Contrato”):</p>
		<br>
		<br>
		<p class="paragraph bold">DECLARACIONES</p>
		<p class="sub-title bold">I. 	Declara MIELE que: </p>
		<p class="paragraph">I.1.	Es una sociedad legalmente constituida de conformidad con la legislación chilena.</p>
		<p class="paragraph">I.2.	Es su voluntad celebrar el presente Contrato, con base en los Términos y Condiciones aquí señalados.</p>
		<br>
		<p class="sub-title bold">II. Declara el CLIENTE FINAL que:</p>
		<p class="paragraph">II.1.	Es una persona natural o jurídica con capacidad para celebrar el presente Contrato.</p>
		<p class="paragraph">II.2.	Es su voluntad celebrar el presente Contrato, con base en los Términos y Condiciones aquí señalados.</p>
		<br>
		<p class="paragraph bold">CLÁUSULAS</p>
		<p class="paragraph"><span class="bold">GENERAL. </span>Las Partes convienen que, previa aceptación de los Términos y Condiciones aquí establecidos, el Cliente Final recibirá su Orden de Compra al momento de ingresar un pedido con MIELE. </p> 
		<p class="paragraph">La Orden de Compra es el documento que emite MIELE a través del portal en línea “Miele Customers” para confirmar todo tipo de ventas programadas al Cliente Final.</p> 
		<br> 
		<p class="paragraph bold">PRIMERA. Órdenes de Compra.</p>
		<br>
		<p class="paragraph">1.1.	Toda Orden de Compra será final y definitiva desde que es aprobada por el Cliente Final dentro de la plataforma web de MIELE.</p>
		<p class="paragraph">1.2.	El ingreso de una Orden de Compra se deberá realizar a través del “Formato Autorizado de Orden de Compra”.</p>
		<p class="paragraph">1.3.	Toda Orden de Compra deberá incluir: </p>
		<div class='enumerate-list'>
			<p class="paragraph">1. Fecha de elaboración; </p>
			<p class="paragraph">2. Datos de Facturación del Cliente Final; </p>
			<p class="paragraph">3. Nombre o razón social; </p>
			<p class="paragraph">4. Cédula nacional de identidad o Rol Único Tributario;  </p>
			<p class="paragraph">5. Correo electrónico para envío de factura electrónica; </p>
			<p class="paragraph">6. Número telefónico; </p>
			<p class="paragraph">7. Nombre completo de la persona de contacto; </p>
			<p class="paragraph">8. Fecha de entrega del producto, que puede oscilar entre 72 horas para equipos de libre instalación y consumibles y hasta 180 días para equipos empotrables; </p>
			<p class="paragraph">9. Dirección completa de entrega y de instalación (calle, número, comuna, ciudad y región); 10. Fecha tentativa o definitiva de instalación acordada con el Cliente Final y el costo total del servicio de instalación incluyendo el número de visitas; </p>
			<p class="paragraph">11. Detalle de Equipos (modelo, descripción, cantidad, precio de lista unitario, descuento comercial unitario, subtotal, etc.) y su costo total.</p>
			<p class="paragraph">12. En caso de ser aplicable, nombre completo del socio comercial y su vendedor responsable de la venta.</p>
			<p class="paragraph">13.	MIELE procesará la Orden de Compra previo pago efectuado por el Cliente Final del 50% del valor total de la misma por concepto de anticipo, o bien, del 100% al momento de generar el pedido. </p>
		</div>
		<br>
		<p class="paragraph">1.4. MIELE procesará la Orden de Compra previo pago efectuado por el Cliente Final del 50% del valor total de la misma por concepto de anticipo, o bien, del 100% al momento de ingresar el pedido.  </p>
		<p class="paragraph">1.5. En caso de efectuar el pago del 50% por concepto de anticipo, el saldo de precio deberá ser pagado dentro de los tres días hábiles anteriores a la fecha de entrega deseada por el Cliente Final y ratificada por MIELE.</p>
		<p class="paragraph">1.6. En caso de ventas con entrega inmediata, el Cliente Final deberá realizar el pago total al momento de realizar su compra.  </p>
		<p class="paragraph">1.7. El precio pagado por el Cliente Final en ningún caso y por ningún motivo será reembolsable si el producto se hubierá deteriorado por causas imputables al Cliente Final. </p>
		<p class="paragraph">1.8. Respecto de los contratos celebrados por medios electrónicos, el Cliente Final tendrá derecho a poner término al contrato sin expresión de causa en el plazo de 10 días contados desde la recepción del producto. Este derecho de retracto no opera respecto de los bienes que se hubieran confeccionado conforme a las especificaciones del Cliente Final, como lo señala el artículo 3 bis letra b) inciso 3° de la Ley N°19.496. </p>
		<p class="paragraph">1.9. Los Clientes Finales no tendrán derecho de retracto respecto de la contratación de los servicios de despacho e instalación conforme lo dispuesto en el artículo 3 bis letra b) inciso 2° de la Ley N°19.496.</p>
		<br>
		<p class="paragraph bold">SEGUNDA. Almacenaje.</p>
		<br>
		<p class="paragraph">2.1. MIELE almacenará de forma gratuita y en beneficio del Cliente Final los equipos, accesorios y consumibles contenidos en una Orden de Compra formalmente ingresada hasta por un periodo de 180 días corridos. En caso de que el Cliente Final solicite una ampliación del periodo, MIELE cobrará un 1% mensual sobre el monto total de la Orden de Compra (según precios de lista, sin incluir IVA y considerando cualquier descuento otorgado) por los meses que excedan los 180 días corridos de almacenaje gratuito. </p>
		<p class="paragraph">2.2. La entrega de los equipos que hayan permanecido en almacén por más de 180 días corridos sólo podrá ser realizada previo pago de los cargos de almacenaje devengados por parte del Cliente Final. Estos cargos de almacenaje representan las expensas incurridas por MIELE para la conservación de los equipos adquiridos por el Cliente Final, y, por tanto, el Cliente Final acepta que MIELE realice la retención de los equipos hasta que no realice el pago de dichas expensas.  </p>
		<br>
		<p class="paragraph bold">TERCERA. Entrega e Instalación de Equipos, Accesorios y Consumibles.</p>
		<br>
		<p class="paragraph">3.1. La entrega e instalación de equipos y accesorios será realizada y/o coordinada directamente por MIELE, y generarán un cargo adicional de acuerdo a la Región del país en donde tengan que prestarse dichos servicios. </p>
		<p class="paragraph">3.2. El cargo por envío e instalación incluye fletes y maniobras necesarias para realizar la entrega de equipos y accesorios Miele, en el domicilio de entrega mencionado en la Orden de Compra. </p>
		<p class="paragraph">3.3  MIELE no presta el servicio de “volado” de equipos, servicio que consiste en el traslado de equipos que no puedan subir por las escaleras de un inmueble, mediante maniobras de elevación exteriores al inmueble e ingreso al mismo por terrazas, ventanas u otras partes del inmueble aptas al efecto, por lo que el cargo mencionado en el punto 3.2 no incluye este tipo de maniobras en caso de ser requeridas. La contratación de este servicio se deberá realizar a través de un tercero y a entera responsabilidad del Cliente Final. MIELE no será responsable de la calidad del servicio prestado por terceros, ni por daños a terceros, bienes muebles (incluyendo los mismos equipos y accesorios Miele) o inmuebles ocasionados por el tercero por la prestación del servicio de “volado”. </p>
		<p class="paragraph">3.4. MIELE realizará la entrega e instalación de equipos empotrables (incluyendo accesorios y consumibles Miele), en un plazo que podrá variar entre 72 horas hábiles, en caso de disponibilidad inmediata del equipo, hasta un máximo de 180 días, plazo que se contará a partir de la fecha en que MIELE reciba la Orden de Compra. El período de entrega y el costo total del servicio de despacho será señalado en la Orden de Compra conforme al punto 1.3 de los presentes Términos y Condiciones.</p>
		<p class="paragraph">3.5. Por otro lado, el tiempo de entrega para equipos de libre instalación que requieran despacho por parte de MIELE, será de 72 horas hábiles siguientes a la fecha en que fue recibida la Orden de Compra. El período de entrega y el costo total del servicio de despacho será señalado en la Orden de Compra conforme al punto 1.3 de los presentes Términos y Condiciones.</p>
		<p class="paragraph">3.6. La entrega de los equipos, accesorios y/o consumibles MIELE se hará dentro de sus empaques originales y en buen estado. El envío de los consumibles al domicilio del Cliente Final generará un cargo de envío que dependerá tanto del peso del producto, como del destino final, salvo que estos estén incorporados dentro de una compra mayor, caso en el cual se regirán por las reglas del envío de los Equipos y Accesorios. El período de entrega y costo total del servicio de despacho será señalado en la Orden de Compra conforme al punto 1.3 de los presentes Términos y Condiciones.  </p>
		<p class="paragraph">3.7. En la entrega de productos, MIELE solicitará la firma del Cliente Final o de la persona responsable de recibirlos en un Acuse de Recibo, Nota de Transporte o Guía de Despacho. Cualquier daño o alteración física a los empaques originales de los productos deberá asentarse en dicho documento, de lo contrario, MIELE no se hará responsable de reclamaciones subsecuentes por daños y/o alteraciones a los equipos que sean imputables al Cliente Final. </p>
		<p class="paragraph">3.8. Cualquier cambio en la dirección y/o en la fecha de entrega deberá ser informado directamente al Centro de Atención Telefónica de MIELE, llamando al 800 265 050 o enviando un correo electrónico a <a href="mailto:info@miele.cl">info@miele.cl</a>, con una anticipación de al menos 48 horas a la fecha de entrega o instalación deseada.</p>
		<br>
		<p class="paragraph bold">CUARTA. Garantía Legal</p>
		<br>
		<p class="paragraph">4.1. La confirmación de una Orden de Compra es una operación comercial final y definitiva, sin perjuicio de lo anterior, el Cliente Final puede ejercer los derechos establecidos en los artículos 19 y 20 de la Ley 19.496 respecto a la garantía legal. </p>
		<p class="paragraph">4.2. El Cliente Final podrá optar entre la reparación gratuita del bien, o previa restitución, su reposición o la devolución de la cantidad pagada, en los casos en que concurra alguna de las causales de los artículos 19 y 20 de la Ley 19.496.</p>
		<p class="paragraph">Para que la garantía legal proceda se deberá cumplir con los siguientes requisitos: i) que el equipo se encuentre dentro del periodo de seis meses de garantía, contados a partir de la fecha de recepción del equipo; ii) El Cliente Final deberá solicitar a su arbitrio la solución que prefiera directamente en el Centro de Atención Telefónica llamando al 800 265 050 o enviando un correo electrónico a <a href="mailto:info@miele.cl">info@miele.cl</a>; iii) El Servicio Técnico Miele realizará las pruebas y validaciones necesarias para confirmar el estado del equipo dentro de los cinco días hábiles siguientes a la fecha de solicitud y analizar si la falla se debe a un hecho imputable o no al consumidor, o a un hecho imputable a la instalación del equipo realizada por personas distintas al Servicio Técnico Autorizado de MIELE. Concluida la evaluación, MIELE aceptará o rechazará la solicitud. De ser aceptada, y en el caso de tratarse de la entrega de un nuevo equipo, ésta se realizará dentro de los 10 días hábiles siguientes a la fecha de aprobación del cambio físico del producto.<p>
		<p class="paragraph">4.3. MIELE no procederá a la reparación gratuita, reposición o devolución de la cantidad pagada cuando el bien: i) presente fallas, daños o desperfectos por causas no imputables a MIELE o derivados de una deficiente instalación no realizada por el Servicio Técnico Miele; ii) presente fallas o desperfectos derivados de una utilización inadecuada del equipo o de la falta de mantenimiento del mismo; iii) requiera ajustes mínimos a ser realizados por el Servicio Técnico Miele; o iv) cuando durante el período de garantía legal el equipo presente fallas, daños o desperfectos derivados de haber sido intervenido o reparado por personas distintas al Servicio Técnico Autorizado de MIELE. </p>
		<br>
		<p class="paragraph bold">QUINTA. Servicio Técnico. </p>
		<br>
		<p class="paragraph">5.1. Todos los equipos Miele están diseñados para ser instalados por el Servicio Técnico Miele. En caso de que el Cliente Final decida hacer la instalación con un tercero, será de su exclusiva responsabilidad, y en este caso Miele solo responderá por la garantía legal contemplada en la Ley 19.496, siempre que el daño o desperfecto no derive de una deficiente instalación por parte de terceros.</p>
		<p class="paragraph">5.2. Todo servicio de instalación deberá ser requerido directamente a MIELE. llamando al 800 265 050 o enviando un correo electrónico a <a href="mailto:info@miele.cl">info@miele.cl</a>, directamente por el Cliente Final proporcionando sus datos completos (nombre, dirección, teléfono, equipos a ser instalados, cualquier otra información relevante para dicho fin). MIELE no será responsable de ningún servicio de instalación o reparación que no haya sido solicitado por los medios aquí mencionados.</p>
		<p class="paragraph">5.3 El Centro de Atención Telefónica responderá las solicitudes recibidas enviando un correo electrónico de confirmación, comunicando el número de Orden de Servicio y los datos de programación del servicio: i) Nombre del Técnico Autorizado Miele; y ii) Fecha y rango de horario de visita. </p>
		<p class="paragraph">5.4. Los horarios de atención del Centro de Atención Telefónica son de lunes a viernes de 9:00 am a 18:00 pm y los sábados de 10:00 am a 14:00 pm. Los horarios de programación del servicio técnico son de lunes a viernes de 9:00 am (primer servicio) a 17:00 pm (último servicio) y los sábados de 10:00 am (primer servicio) a 14:00 pm (último servicio). </p>
		<p class="paragraph">5.5. MIELE programará la visita de un Técnico Autorizado Miele en los siguientes plazos: i) dentro de los tres días hábiles siguientes al día en que fue recibida la solicitud de servicio, cuando tenga que ser realizado en alguna de las siguientes Regiones: Región Metropolitana de Santiago, V Región de Valparaíso, VIII Región de Concepción, IX Región de la Araucanía y X Región de los Lagos; o, ii) dentro de los seis días hábiles posteriores a la fecha de solicitud del servicio, cuando tenga que ser realizado en Regiones distintas a las anteriores. </p>
		<p class="paragraph">5.6. Para ciertos casos específicos excepcionales identificados como “Servicio Técnico de Emergencias”, tales como fugas de gas en Encimeras o CombiSets, o fallas del sistema de enfriamiento en equipos de refrigeración, MIELE programará la visita, dentro de las 24 horas hábiles siguientes a la fecha de solicitud del servicio cuando el mismo tenga que ser realizado en regiones indicadas en el punto i) del numeral 5.5 o dentro de las 48 horas hábiles siguientes a la fecha de solicitud del servicio, cuando el mismo tenga que ser realizado en otras regiones o localidades aisladas.</p>
		<br>
		<p class="paragraph bold">SEXTA. Instalaciones. </p>
		<br>
		<p class="paragraph">6.1. Todos los servicios de instalación deberán de ser requeridos directamente por el Cliente Final, o bien por el socio comercial, cuando éste último se encuentre involucrado por haber realizado la venta a nombre de MIELE.</p>
		<p class="paragraph">6.2. Las guías mecánicas de los equipos incluyen los requerimientos de espacio, medidas, especificaciones, conexiones a energía eléctrica, conexiones de agua, conexiones de gas y cualquier requerimiento adicional para que MIELE pueda realizar la instalación de los equipos adquiridos por el cliente final. </p>
		<p class="paragraph">6.3. Las guías mecánicas se entregarán por MIELE al Cliente Final de manera física o por medios electrónicos en el mismo momento en que se emita la Orden de Compra. El Cliente Final deberá revisar y asegurar que las especificaciones solicitadas dentro de la guía mecánica se cumplan en su cabalidad, para así lograr una instalación eficiente y sin contratiempos por parte del Servicio Técnico Autorizado de Miele.</p>
		<p class="paragraph">6.4. El Servicio Técnico Autorizado de MIELE podrá realizar una visita al domicilio de un Cliente Final, cuando éste así lo requiera, para determinar si es factible realizar la instalación de un equipo previo a su compra. En este caso, la visita generará un cargo de CLP$39.900 (treinta y nueve mil novecientos pesos), incluyendo IVA, que podrá ser acreditado contra el monto total de la compra en caso de ser realizada. En caso contrario, este monto no será reembolsable.</p>
		<p class="paragraph">6.5. MIELE clasifica los servicios de instalación en dos categorías: i) Instalación Menor: Servicio de instalación de uno o dos equipos (sin incluir accesorios, trim kits, paneles, puertas, manijas. etc.), contando el Cliente Final con un máximo de dos visitas, incluida 1 visita de preinstalación de un Técnico Autorizado Miele, sin costo adicional; e, ii) Instalación Mayor: Servicio de instalación de tres o más equipos (sin incluir accesorios, trim kits, paneles, puertas, manijas. etc.) contando el Cliente Final con un máximo de tres visitas, incluida 1 visita de preinstalación de un Técnico Autorizado Miele, sin costo adicional.  </p>
		<p class="paragraph">6.6. Cuando la instalación no pueda ser concluida por razones no imputables a Miele dentro del número máximo de visitas señaladas en el numeral anterior, cada visita adicional generará un cargo para el Cliente Final de CLP$ 34.900 (treinta y cuatro mil novecientos pesos), incluyendo IVA, más los viáticos relacionados.</p>
		<p class="paragraph">6.7. En caso de que el Técnico Autorizado Miele detecte empaques abiertos, daños y/o alteraciones físicas a los equipos lo asentará en su Informe de Servicio y el Cliente Final perderá el derecho a exigir el cumplimiento de la Póliza de Garantía para cubrir los daños o defectos (ver la Cláusula séptima. Garantía Convencional).</p>
		<p class="paragraph">6.8. MIELE, a través de su departamento de Servicio Técnico, enviará al Cliente Final un reporte de evidencias fotográficas que muestre los equipos ya instalados y en funcionamiento, denominado “Informe de Servicio”. Lo mismo se realizará cuando la instalación no pueda ser realizada por alguna razón no imputable a MIELE, caso en el cual el Técnico Autorizado Miele levantará un Informe de Servicio asentando los detalles a corregir y adjuntando evidencias de dichas causas, retirándose del domicilio. El Informe de Servicio será enviado al Cliente Final el día hábil siguiente a la visita del Técnico Autorizado Miele. </p>
		<p class="paragraph">6.9. El Técnico Autorizado Miele no realizará trabajo, ajuste o adecuación alguna distinta a las estrictamente requeridas para la instalación de los equipos Miele. MIELE informará al Cliente Final sobre los requerimientos de espacio, medidas, especificaciones, conexiones a energía eléctrica, de agua o de gas y cualquier otro requerimiento para realizar la instalación. El Cliente Final debe asegurarse que dichos requerimientos se encuentren listos, previo a la visita de instalación del Técnico Autorizado Miele. El Técnico Autorizado Miele no podrá esperar en el domicilio de instalación a que concluyan los ajustes y/o adecuaciones necesarias para poder iniciar o terminar la instalación de equipos Miele.</p>
		<p class="paragraph">6.10. Si el tablero eléctrico no está cerrado o el inmueble no cuenta con medidor de energía, el Técnico Autorizado Miele asentará en su Informe de Servicio que no es recomendable realizar la instalación, debido a una mayor probabilidad de descarga eléctrica que podría resultar en daños al equipo Miele y/o al usuario del mismo. Si el Cliente Final o la persona responsable de recibir al Técnico Autorizado Miele insiste en que se realice la instalación, deberá solicitarlo por escrito, en cuyo caso, el Cliente Final perderá el derecho a exigir el cumplimiento de la Póliza de Garantía para cubrir los daños ocasionados al equipo de presentarse algún siniestro por esta causa.</p>
		<p class="paragraph">6.11. Una vez concluida la instalación, el Técnico Autorizado Miele podrá dar una explicación elemental al Cliente Final sobre las funciones básicas de los equipos, mas no podrá elaborar sus respuestas ni abordar preguntas específicas sobre las funciones especiales de los equipos. MIELE ha desarrollado programas de capacitación que permitirán al Cliente Final obtener respuestas mucho más concretas sobre el uso y mantenimiento de sus nuevos equipos Miele (ver la Cláusula octava. Programas de capacitación al cliente Final).</p>
		<br>
		<p class="paragraph bold">SEPTIMA. Garantía Convencional. </p>
		<br>
		<p class="paragraph">7.1. MIELE otorga a sus clientes una garantía convencional aplicable a todos los electrodomésticos vendidos por Miele Electrodomésticos Limitada, en virtud de la cual garantiza al Cliente Final, la reparación gratuita del producto o equipo en caso de cualquier defecto de fabricación (materiales, mano de obra y/o desempeño), incluyendo todas las partes y/o componentes. La garantía convencional sólo aplica mientras el equipo permanezca dentro del país y siempre que el Cliente Final haya contratado el servicio de instalación del equipo directamente con MIELE. </p>
		<p class="paragraph">7.2. Sin perjuicio de la garantía legal, el período de garantía convencional para el equipo, sus accesorios, partes y/o componentes es de dos años a partir de su fecha de instalación, siempre que el equipo no haya sufrido daños entre la fecha de entrega y la fecha de instalación. MIELE no asumirá responsabilidad alguna por daño o alteración causada al equipo, sus accesorios, partes y/o componentes en el periodo comprendido entre su fecha de entrega y la fecha de instalación. </p>
		<p class="paragraph">7.3. La garantía convencional no cubre daños o defectos cuando el equipo: i) ha sido utilizado en condiciones distintas a las normales; ii) no ha sido operado con base en las instrucciones y/o manual de uso que lo acompaña; iii) ha sido instalado, alterado o reparado por terceros no autorizados por MIELE; iv) ha sido extraído de su empaque original y no cuenta con los sellos de seguridad al momento de ser instalado por un Técnico Autorizado Miele; v) cuando las instalaciones eléctricas del Cliente Final no cumplen con lo establecido en las guías mecánicas de los equipos. Cualquier desperfecto o falla ocasionada por una instalación deficiente realizada por algún técnico distinto al Servicio Técnico Autorizado de Miele invalida la garantía convencional. </p>
		<p class="paragraph">7.4. La garantía convencional sólo incluirá la reparación gratuita del equipo, sus accesorios, partes y/o componentes. Durante el periodo de garantía convencional, los costos de mano de obra, repuestos, gastos de viaje y transportación serán de cargo de Miele, siempre y cuando el artefacto presente fallas imputables a la manufactura del mismo, haya sido utilizado conforme a su manual de usuario e instalado por un técnico autorizado Miele.</p>
		<p class="paragraph">7.5. El Técnico Autorizado Miele, al momento de realizar la instalación, sellará la Póliza de Garantía de cada equipo instalado con su nombre, firma y fecha de instalación. </p>
		<p class="paragraph">7.6. En caso de equipos “Free-Standing”, un representante de ventas sellará la Póliza de Garantía de cada equipo vendido con su nombre, firma y fecha de venta. </p>
		<p class="paragraph">7.7. MIELE desconoce cualquier otra garantía expresa o implícita en el equipo o cualquier otra garantía ofrecida por un tercero.</p>
		<p class="paragraph">7.8. MIELE no asume responsabilidad alguna o cualquier otra obligación con respecto a daños a personas o bienes que resulte del uso de algún equipo Miele o sus accesorios, partes, componentes, refacciones, entre otros, cuando los mismos no hayan sido comprados a MIELE, o sean consecuencia de un mal manejo de los equipos, intervención de terceros sobre los mismos, mala mantención de ellos, caso fortuito, fuerza mayor, o intervención de causales externas como golpes de energía eléctrica, rotura de cañerías, alza de presión de agua o de gas, escapes de gas u otras de similar naturaleza.</p>
		<p class="paragraph">7.9. Cualquier compra de equipos, accesorios, partes, componentes, refacciones, etc, de cualquier otro origen, distribuidor o tienda no autorizados por MIELE será bajo el propio riesgo del comprador. </p>
		<p class="paragraph">7.10. Tratándose de servicios de mantención o reparación de equipos realizados por el Servicio Técnico de Miele fuera del periodo de garantía legal o convencional del artefacto, MIELE otorga un periodo de garantía de tres meses contados desde la entrega del equipo reparado. Durante este periodo de garantía por servicio de reparación, los costos relacionados a mano de obra, repuestos, gastos de viaje y transportación serán de cargo de Miele, siempre y cuando la nueva falla corresponda a la misma presentada inicialmente antes de realizar la reparación.</p>
		<br>
		<p class="paragraph bold">OCTAVA. Programas de capacitación al Cliente Final.</p>
		<br>
		<p class="paragraph">8.1. MIELE cuenta con sesiones de capacitación dirigidas a Clientes Finales que desean conocer más sobre el uso adecuado, mantenimiento y limpieza de sus equipos Miele. Estas sesiones de capacitación son ofrecidas por MIELE de manera gratuita y tienen lugar en los Miele Experience Centers. </p>
		<p class="paragraph">8.2. Adicionalmente a lo establecido en el punto anterior, MIELE ofrece un programa “Concierge” de capacitación al Cliente Final directamente en su hogar. Este programa se denomina “Home Program” y ofrece los siguientes beneficios: i) asesoramiento personalizado por un experto sobre el uso, mantenimiento y limpieza de los equipos adquiridos por el Cliente Final; ii) ajuste de programas y funciones de los equipos, con base en las necesidades y preferencias del Cliente Final; iii) Consejos prácticos y recomendaciones para obtener mejores resultados y asegurar la vida útil de los equipos en excelente estado.</p>
		<p class="paragraph">8.3. El servicio “Home Program” tiene un cargo adicional que depende de la Región en donde será realizado el servicio. Asimismo, la duración máxima del servicio también variará dependiendo de la Región, teniendo una duración máxima de 2 horas en la Región Metropolitana, y de 3 horas cuando se trate de otra localidad, toda vez que tiene un cargo adicional. </p>
		<p class="paragraph">8.4. La cotización y venta del servicio “Home Program” podrá ser realizada por MIELE y sus socios comerciales a través del portal en línea “Miele Customers”. Una vez adquirido el servicio, el Cliente Final podrá agendar el servicio con MIELE. Los datos de contacto se encuentran disponibles en <a href="https://miele.cl">www.miele.cl.</a></p>
		<p class="paragraph">8.5. Cada hora de servicio adicional al contratado generará un cargo extra de CLP $19.900, incluyendo IVA, mismo que deberá ser pagado por el Cliente Final directamente al personal enviado por MIELE a su domicilio.</p>
		<p class="paragraph">8.6. Es recomendable solicitar el servicio “Home Program” con al menos 5 días hábiles de anticipación, para garantizar disponibilidad de fecha y horario. </p>
		<br>
		<p class="paragraph bold">NOVENA. Política de Operación Comercial. </p>
		<p class="paragraph">9.1. Los términos y condiciones aquí previstos están de acuerdo con la Política de Operación Comercial de la línea doméstica de productos Miele vigente.</p>
		<br>
		<p class="paragraph bold">DÉCIMA. Aplicabilidad.</p>
		<p class="paragraph">10.1 El derecho de retracto y garantía legal establecidos en favor de los Clientes Finales en los presentes Términos y Condiciones, sólo serán aplicables para aquellos que sean considerados consumidores bajo la Ley N°19.496.</p>
		<br>
		<p class="paragraph bold">DÉCIMA PRIMERA. Resolución de conflictos.</p>
		<p class="paragraph"> 11.1 En caso de cualquier controversia, queja o reclamación, las partes tienen derecho a acudir al tribunal competente conforme a las reglas generales y en caso de ser aplicable conforme a lo dispuesto en la Ley N° 19.496.<p>
	</div>
</div>