<div class="row hidden-xs hidden-sm text-center">
  <div class="col-md-1 title-products title-input">
    Imagen
  </div>
  <div class="col-md-2 title-products title-input">
    Nombre
  </div>
  <div class="col-md-1 title-products title-input">
    TNR
  </div>
  <div class="col-md-1 title-products title-input">
    Mandatorio
  </div>
  <div class="col-md-1 title-products title-input">
    Instalación
  </div>
  <div class="col-md-1 title-products title-input">
    Neto
  </div>
  <div class="col-md-1 title-products title-input">
    Precio Final
  </div>
  <div class="col-md-1 title-products title-input">
    Porcentaje
  </div>
  <div class="col-md-1 title-products title-input">
    Cantidad
  </div>
  <div class="col-md-1 title-products title-input">
    Descuento Total Producto
  </div>
  
  <div class="col-md-1 title-products title-input">
    Total
  </div>
</div>
<div class="line-row hidden-xs hidden-sm"></div>
