  <div class="add-dispatch-group-container">
    <%= link_to new_dispatch_group_project_path(quotation_id: @quotation.id, detail_quotation_products:""), id: 'add-dispatch-group-project', :onclick => "setDisabledProject()", remote: true, method: :post do %>
      <i class="fa fa-plus"></i> Nuevo envío
    <% end %>
  </div>

