<p>El usuario Proyectos ha ingresado una nueva Configuración de Envíos para despachar la cotización N° <%= link_to @quotation.code, quotation_url(@quotation) %>.</p>

<p>Favor confirmar que la información esté correcta</p>