<p>Estimado(a):</p>

<p>El grupo de envío <%=@dispatch_number%> de la cotización <%=@quotation_code%> ha sido finalizado y se encuentra listo para su revisión.</p>

<p>Para ver más detalles ingresar <%= link_to 'aquí.', @visit_report_url, target: '_blank' %></p>

