<p>
    Estimado/a:
</p>
<p>
	Se ha creado un nuevo servicio de instalaci贸n en Tickets, con Folio <strong><%= @sheet %></strong>, para la cotizaci贸n <%= @quotation.code %> de B2B.
</p>
<p>
    Puede ingresar al servicio de instalaci贸n en Tickets, secci贸n Servicios, buscando por el Folio <strong><%= @sheet %></strong>.
</p>