<p>
	Estimado(a),
</p>
<p>
	La cotización/OC <%= (@quotation.is_retail? ? @quotation.oc_number : @quotation.code) %> fue rechazada desde despacho.
</p>
<p>
	<b>*Detener proceso de facturación y anular S.O.</b>
</p>

<a href="www.miele.cl">www.miele.cl</a> <b>#LifeBeyondOrdinary</b>