<p>
	Estimado(a) <%= @quotation.name %>, 
</p>
<p>
	Su actual cotización ha sobrepasado los 30 días de validez, si aun esta interesado en nuestros productos puede volver a solicitar una reactivación de esta cotización en cualquiera de nuestras tiendas
</p>