<div class="quotation-box padding-box text-left">
	<% if current_user.is_project? %>
		<div class="row top-both">
			<div class="col-md-12 col-xs-12 text-left">
				<p class="bold secondary-text">Documentos</p>
			</div>
		</div>
		<%= form_tag load_billing_documents_path(@quotation), method: :post, multipart: true, id: 'load-billing-documents-form' do %>
			<div class="row top-both">
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<label for="payment_documents[]" class="title-input">Respaldos, Facturas, Documentos Importantes</label>
					<div class="file-field input-field">
						<div class="file-drop-area dashed-border">
							<span class="btn btn-miele-gray btn-input-file">Elegir archivos</span>
							<span class="file-msg hidden-xs">o arrastra y deja aquí los archivos</span>
							<input type="file" name="payment_documents[]" multiple="true"  accept="image/jpeg, image/png, application/pdf" id="payment_documents" class="file-input">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-6 col-xs-12 top-space text-right">
					<p class="top-mobile">
						<button type="submit" class="btn btn-miele" id="send-billing-documents">Guardar</button>
					</p>
				</div>
			</div>
		<% end %>
	<% end %>
	<% if @quotation.payment_documents.any? %>
		<div class="line-row-info"></div>
		<div class="row top-both">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
				<p class="bold title-input">Respaldos, Facturas, Documentos Importantes</p>
				<% @quotation.payment_documents.each do |payment_doc| %>
					<%= link_to payment_doc.document.url(:original), class: 'btn btn-miele space-btn', target: "_blank" do %>
						<i class="fa fa-file-image"></i> <%= truncate(payment_doc.document_file_name, length: 15) %>
					<% end %>
					<% if can? :destroy, payment_doc and can_delete_docs(@quotation) %>
						<%= link_to payment_document_path(payment_doc), method: :delete, class: "btn btn-delete no-loader space-btn", data: 
			            { confirm: '¿Estás seguro de eliminar el archivo '+payment_doc.document_file_name+'?',
			            'confirm-button-text': 'Eliminar',
			            'cancel-button-text': 'Cancelar'}  do %>
	            <i class="fa fa-times"></i>
		        <% end %>
		      <% end %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>