<div id="dispatch-groups-container">
	<% @quotation.dispatch_groups.order(id: :asc).each_with_index do |dispatch_group, counter| %>
		<%= render partial: 'quotations/dispatch/dispatched', locals: { dispatch_group: dispatch_group, submit_label: 'Guardar', dispatch_group_counter: counter, dispatch_group_iteration_last: (@quotation.dispatch_groups.count - 1) == counter, id: "dispatch-in-dispatch-tab-#{counter}"} %>
	<% end %>
</div>

<script>
	$(document).ready(function(){
		$("#dispatch-confirm-form").trigger("change");
	});
	$('#dispatch-confirm-form input').on('change', function() {
		if ($("#dispatch-confirm-form").valid() && $("#observations-dispatch").val() != '') {
			$("#dispatch_observation-error").addClass("hidden")
			$('#send-dispatch').prop('disabled', false);
		} else {
			$("#dispatch_observation-error").removeClass("hidden")
			$('#send-dispatch').prop('disabled', 'disabled');
		}
	});
	$('#observations-dispatch').on('change', function() {
		if ($("#dispatch-confirm-form").valid() && $("#observations-dispatch").val() != '') {
			$("#dispatch_observation-error").addClass("hidden")
			$('#send-dispatch').prop('disabled', false);
		} else {
			$("#dispatch_observation-error").removeClass("hidden")
			$('#send-dispatch').prop('disabled', 'disabled');
		}
	});
</script>