<%= render 'quotations/checkout/instalation_box' %>

<div id="new_link_button">
    <%= render 'quotations/checkout/new_link' %>
</div>

<br>

<div id="all_unit_real_state" value="0">
</div>


<script type="text/javascript">

</script>