<!---<div class="">

    <div class="row">
        <div class="col-md-12 col-xs-12 text-left">
            <p class="title-box-checkout">Despacho</p>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12 text-left">
            <p class="title-input-black-checkout">Cantidad de envíos</p>
            <input min="1" id=<%="number_of_shipments"%> onblur="update_total_unit_value()" class="input-real_state" type="number"  multiple="true"  class="field-bordered">
        </div>
        <br>
        <div class="col-md-3 col-xs-12 text-left">
            <div class="box-color-yellow-checkout">
                <p class="p-box-color-checkout">Productos con despacho: <span id="span_pending_products"><%=@products_dispatch_number%></span></p>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 text-left">
            <div class="box-color-lightblue-checkout">
                    <p class="p-box-color-checkout">Valor unitario: <span id="span_unit_value"></span></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
</script>