/* COLORES: PRINCIPALES */
$brand-primary: #8c0314;
$brand-secondary: #262626;
$lines-primary: #707070;
$lines-secondary: #b3b3b3;
$grey-light: #f6f6f6;
$white: white;
$brand-tertiary: #f59b00;
$brand-quaternary: #069c13;
$sidebar-color: #eeeeee;

/* ni idea esto */

$brand-secondary-transparent: #262626cc;
$brand-secondary-light: #797979;
$brand-primary-light: #ffcfcf;
/* COLORES: OTROS */
$grey-hover: #333333;
$grey-sutil: #525252;
$grey-sub-border: #c9c8c8;
$grey-selection: #f4f4f4;
$grey-selected-service: #3f5553;
$red: #dd4b39;

.warning {
  color: #ea0000;
}
