@import "variables";

.customer-container{
	background: #f6f6f6;
}

.customer-content{
	margin: 30px 120px;
}

@media(max-width: 992px){
	.customer-content{
		margin: 30px 30px;
	}
}

.file-text{
	color: #b3b3b3!important;
}

.top-file{
	margin-top: 25px;
}

.top-header{
	margin-top: 100px!important;
}