<p>Hola <%= @resource.fullname %>!</p>

<p>Al parecer haz intentado recuperar tu contrase침a. Puedes hacerlo presionando el link a continuaci칩n.</p>

<p><%= link_to 'Cambiar mi contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>
	Si no has solicitado un cambio de contrase침a por favor ignorar este correo.
</p>
<p>
  <br><%= image_tag "logo-mini.png" %>
  <br>Atentamente,
  <br>Equipo Miele.
</p>
