<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="box-color-lightblue-checkout">
                <p class="p-box-color-checkout">Productos con despacho: <span id="span_dispatch_products"><%= quotation.products_dispatch_number %></span></p>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="box-color-yellow-checkout">
                <p class="p-box-color-checkout">Productos por asignar: <span id="span_pending_dispatch_products"><%= quotation.products_dispatch_per_assign_number %></span></p>
        </div>
    </div>
</div>