<div class="text-center">
	<%= wicked_pdf_image_tag asset_url('logo.png'), class: "logo-miele" %>
</div>
<p></p>
<br>
<br>
<br>
<!-- esos saltos de linea son el trucazo para dejarlo arriba, porfa no mover --->